name: Hello World # 워크플로우
on: # Events 
  workflow_dispatch:
  push:

jobs: # Jobs
  build:
    runs-on: ubuntu-latest
    steps: # Step
      - uses: actions/checkout@v3 # Action
      - name: Hello World 
        run: |
          echo "Hello World! Github Actions "
          echo ENV: ${{ vars.MESSAGE }}
          echo SECRET: ${{ secrets.APP_SECRET }}
